.tabs{
  height:53px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width:100%;
  background: #188ae4;

  a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#71bbf6;
    span{font-size: 14px;}
    &.active{color: #fff; }
  }
}
